$txt-color: #f88531; // 字体颜色
$bg-color: #576cc8; // 背景颜色
$browser-default-font-size: 75px !default;
;
@function pr($px) {
  @return $px / $browser-default-font-size * 1rem;
}

$padding-size: pr(20px);

html, body, div, a, p, span, ul, li, input {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

input[type="text"],
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; // 去除safari浏览器的内阴影
  &::-webkit-input-placeholder {
    color: #999;
    font-size: inherit;
  }
  &:-moz-placeholder {
    color: #999;
    font-size: inherit;
  }
  &::-moz-placeholder {
    color: #999;
    font-size: inherit;
  }
  &:-ms-input-placeholder {
    color: #999;
    font-size: inherit;
  }
}

input[type="submit"] {
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input, textarea, select {
  background-color: transparent;
  font-family: '微软雅黑';
}

select {
  border: none;
}

option {
  text-indent: 1em;
  font-family: '微软雅黑';
}

input[type='text'] {
  border: none;
  text-indent: 1em;
}

input[type="submit"] {
  border: none;
}

%in-b {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

%one {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

%clearfix {
  zoom: 1;
  &:after {
    clear: both;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
}

body{
  padding-bottom: pr(96px);
}

.wrap {
  max-width: pr(750px);
  margin: 0 auto;
  overflow: hidden;
}

.header {
  padding: 0 $padding-size;
  height: pr(120px);
  display: flex;
  justify-content: space-between;
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nuoda {
      width: pr(162px);
      height: pr(50px);
      margin-right: pr(15px);
    }
    .eu {
      font-size: pr(28px);
      color: #999999;
      line-height: pr(36px);
      border-left: 1px solid #aaa;
      padding-left: pr(18px);
      margin-top: pr(16px);
    }
  }
  .header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon {
      width: pr(50px);
      height: pr(50px);
      background: url("https://img.thea.cn/public/platform/thea/201907/hbj/EU-DBA-wap/images/tel.png") no-repeat center;
      background-size: 100% 100%;
      margin-right: 7px;
    }
    .text {
      display: flex;
      flex-direction: column;
      .hotline {
        font-size: pr(18px);
        color: #666666;
      }
      .number {
        font-size: pr(34px);
        color: $txt-color;
      }
    }
  }
}

.banner {
  display: block;
  width: 100%;
  height: pr(380px);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  a{
    @extend %in-b;
    width: 100%;
    height: 100%;
  }
}

/* 标题模板 */
.title-module {
  color: #333333;
  font-weight: bold;
  text-align: center;
  strong {
    font-weight: bold;
    color: $txt-color;
  }
  .cn {
    font-size: pr(40px);
    line-height: pr(48px);
  }
  .en {
    font-size: pr(18px);
    line-height: pr(48px);
    color: #999999;
    font-weight: normal;
    &::before, &::after{
      @extend %in-b;
      content: '';
      width: pr(56px);
      height: 1px;
      background-color: #cccccc;
      border-radius: 1px;
      vertical-align: middle;
    }
    &::before{
      margin-right: pr(3px);
    }
    &::after{
      margin-left: pr(3px);
    }
  }
}

/* 按钮模板 */
.btn-module {
  text-align: center;
  a {
    @extend %in-b;
    width: pr(260px);
    height: pr(56px);
    line-height: pr(56px);
    border-radius: pr(28px);
    border: solid 1px $txt-color;
    font-size: pr(26px);
    margin-right: pr(30px);
    color: $txt-color;
    &.active {
      background-color: $txt-color;
      color: #ffffff;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

/* 高管 */
.executives{
  padding: pr(59px) $padding-size pr(60px);
  .content {
    margin-top: pr(40px);
    margin-bottom: pr(40px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $padding-size;
    grid-row-gap: $padding-size;
    li {
      width: pr(345px);
      height: pr(280px);
      background-color: #ffffff;
      border-radius: pr(8px);
      border: solid 1px rgba(221, 221, 221, 0.9);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img{
        width: pr(130px);
        height: pr(130px);
      }
      span {
        font-size: pr(26px);
        line-height: pr(36px);
        color: #333333;
        margin-top: pr(25px);
        padding: 0 pr(60px);
        font-weight: bold;
      }
    }
  }
}

/* 区别 */
.different{
  // height: pr(1050px);
  background: url('../images/bg_1.png') no-repeat;
  background-size: 100% 100%;
  padding: pr(40px) $padding-size pr(53px);
  .title-module{
    color: #fff;
    .en{
      color: rgba(255, 255, 255, 0.9);
    }
  }
  .content{
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: pr(10px);
    margin-top: pr(30px);
    margin-bottom: pr(50px);
    .cont-col{
      &:first-child{
        width: pr(150px);
      }
      &:nth-of-type(2){
        width: pr(270px);
        padding: 0 pr(20px);
      }
      &:nth-of-type(3){
        width: pr(268px);
        padding: 0 pr(20px);
      }
    }
    .thead{
      background-color: #4b5eb5;
      color: #fff;
      font-size: pr(26px);
      display: flex;
      .cont-col{
        height: pr(50px);
        line-height: pr(50px);
        &:nth-of-type(2){
          background-color: #f88531;
          border-left: 1px solid #fff;
          border-right: 1px solid #fff;
        }
      }
    }
    .tbody{
      .cont-col{
        height: 100%;
        font-size: pr(20px);
        line-height: pr(26px);
        color: #333333;
        text-align: left;
      }
      .tbody-row{
        display: flex;
        align-items: center;
        border-bottom: dashed 1px #aaaaaa;
        &:last-child{
          border-bottom: none;
        }
        .cont-col{
          &:nth-of-type(1){
            text-align: center;
          }
          &:nth-of-type(2){
            border-left: dashed 1px #aaaaaa;
            border-right: dashed 1px #aaaaaa;
            padding-top: pr(27px);
            padding-bottom: pr(27px);
          }
          &:nth-of-type(3){
            padding-top: pr(27px);
            padding-bottom: pr(27px);
          }
        }
      }
      
    }
  }
}

/* 名校 */
.schools{
  padding: pr(59px) $padding-size;
  .content{
    background-color: #ffffff;
    box-shadow: pr(-7px) pr(10px) 0px 0px 
		rgba(0, 0, 0, 0.16);
    border-radius: pr(20px);
    border: solid 1px #e1e1e1;
    margin-top: pr(270px);
    padding-top: pr(211px);
    padding-bottom: pr(36px);
    position: relative;
    .schools-bg{
      width: pr(630px);
      height: pr(400px);
      position: absolute;
      top: pr(-229px);
      left: 0;
      right: 0;
      margin: auto;
    }
    .cont-detail{
      .detail-title{
        font-size: pr(30px);
        line-height: pr(36px);
        color: #333333;
        vertical-align: middle;
        padding-left: pr(30px);
        margin-bottom: $padding-size;
        .icon{
          @extend %in-b;
          width: pr(33px);
          height: pr(28px);
          background: url('../images/icon_5.png') no-repeat;
          background-size: 100% 100%;
        }
      }
      p{
        font-size: pr(20px);
        line-height: pr(30px);
        color: #888888;
        padding: 0 pr(30px);
      }
      .detail-text{
        padding-top: pr(30px);
        .text-row{
          @extend %clearfix;
          font-size: pr(20px);
          padding-left: pr(23px);
          .row-key{
            @extend %in-b;
            float: left;
            height: pr(26px);
            line-height: pr(26px);
            background-color: #576cc8;
            border-radius: pr(13px);
            text-align: center;
            color: #fff;
            margin: pr(5px) pr(12px) pr(5px) 0;
            padding-left: 6px;
          }
          .row-val{
            float: left;
            width: pr(543px);
            color: #333333;
            line-height: pr(36px);
          }
        }
      }
    }
    .cont-btn{
      @extend %in-b;
      width: pr(513px);
      height: pr(56px);
      line-height: pr(56px);
      font-size: pr(26px);
      color: #fff;
      padding-left: pr(324px);
      background-color: $txt-color;
      border-top-right-radius: pr(28px);
      border-bottom-right-radius: pr(28px);
      margin-top: pr(40px);
      .icon{
        @extend %in-b;
        width: pr(30px);
        height: pr(30px);
        background: url('../images/icon_6.png') no-repeat;
        background-size: 100% 100%;
        margin-left: $padding-size;
        vertical-align: middle;
      }
    }
  }
}

/* 学位 */
.degree{
  padding: 0 $padding-size;
  .content{
    padding-top: pr(40px);
    margin-bottom: pr(40px);
    .cont-list{
      @extend %clearfix;
      margin-right: -$padding-size;
      margin-bottom: $padding-size;
      li{
        float: left;
        width: pr(345px);
        height: pr(60px);
        margin-right: $padding-size;
        margin-bottom: $padding-size;
        border: solid 1px #bbbbbb;
        font-size: pr(24px);
        color: #333333;
        &.active{
          background-color: $bg-color;
          border: 1px solid $bg-color;
          color: #ffffff;
        }
        span{
          @extend %in-b;
          @extend %one;
          width: 100%;
          line-height: pr(60px);
          text-align: center;
        }
      }
    }
    .btn-module{
      a{
        &.active{
          width: 280px;
        }
      }
    }
  }
  .detail-item{
    background-color: #ffffff;
    box-shadow: pr(-7px) pr(10px) 0px 0px 
      rgba(0, 0, 0, 0.16);
    border-radius: pr(20px);
    border: solid 1px #e1e1e1;
    padding: pr(30px) 0;
    display: none;
    &.active{
      display: block;
    }
    .school-bg{
      display: block;
      width: pr(650px);
      height: pr(400px);
      margin: 0 auto pr(40px);
    }
    .item-text{
      // width: 943px;
      .detail-title{
        font-size: pr(30px);
        line-height: pr(36px);
        color: #333333;
        vertical-align: middle;
        margin-bottom: $padding-size;
        padding-left: pr(30px);
        .icon{
          @extend %in-b;
          width: pr(33px);
          height: pr(28px);
          background: url('../images/icon_5.png') no-repeat;
          background-size: 100% 100%;
        }
      }
      p{
        font-size: pr(20px);
        line-height: pr(30px);
        color: #888888;
        padding-left: pr(30px);
        padding-right: pr(30px);
      }
      .text{
        padding: pr(20px) pr(30px);
        .text-row{
          @extend %clearfix;
          font-size: pr(20px);
          .row-key{
            float: left;
            height: pr(26px);
            line-height: pr(26px);
            background-color: #576cc8;
            border-radius: pr(13px);
            text-align: center;
            color: #fff;
            margin: pr(5px) pr(10px) pr(5px) 0;
            padding-left: pr(8px);
          }
          .row-val{
            float: left;
            width: pr(543px);
            color: #333333;
            line-height: pr(36px);
          }
        }
      }
    }
    .item-btn{
      @extend %in-b;
      width: pr(513px);
      height: pr(56px);
      line-height: pr(56px);
      font-size: pr(26px);
      color: #fff;
      padding-left: pr(324px);
      background-color: $txt-color;
      border-top-right-radius: pr(28px);
      border-bottom-right-radius: pr(28px);
      margin-top: pr(20px);
      .icon{
        @extend %in-b;
        width: pr(30px);
        height: pr(30px);
        background: url('../images/icon_6.png') no-repeat;
        background-size: 100% 100%;
        margin-left: $padding-size;
        vertical-align: middle;
      }
    }
  }
  .degree-btn{
    display: block;
    width: 100%;
    text-align: center;
    font-size: pr(26px);
    line-height: pr(80px);
    color: #576cc8;
  }
}

/* 报名 */
.apply{
  width: 100%;
  height: pr(732px);
  background: url('../images/apply-bg.png') no-repeat;
  background-size: 100% 100%;
  padding-top: pr(120px);
  margin-top: pr(-80px);
}

/* 预约 */
.appointment{
  padding: pr(80px) pr(35px) pr(60px);
  background: url('../images/appointment-bg.png') no-repeat;
  background-size: 100% 100%;
  .title-module{
    color: #fff;
    .en{
      color: #fff;
    }
  }
  .sign-up-appoint{
    width: pr(210px);
    height: pr(70px);
    line-height: pr(70px);
    background-color: #f0552f;
    margin: pr(30px) auto 0;
    font-size: pr(29px);
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    position: relative;
    &::after{
      content: '';
      width: 0;
      height: 0;
      border-left: pr(15px) solid transparent;
      border-right: pr(15px) solid transparent;
      border-top: pr(20px) solid #f0552f;

      position: absolute;
      bottom: pr(-20px);
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  .sign-in{
    margin: pr(40px) auto pr(30px);
    background-color: rgba(255, 255, 255, 0.96);
    border-radius: pr(20px);
    text-align: center;
    font-size: pr(28px);
    padding: pr(40px);
    input{
      width: 100%;
      height: pr(70px);
      line-height: pr(70px);
      border: solid 1px #cccccc;
      margin-top: pr(24px);
    }
    input[type='submit']{
      width: 100%;
      line-height: pr(76px);
      font-size: pr(32px);
      border: none;
      background-color: $txt-color;
      color: #fff;
      border-radius: pr(38px);
    }
    select{
      width: 100%;
      height: pr(70px);
      line-height: pr(70px);
      background: url('../images/select-icon.png') no-repeat pr(556px) #fff;
      border: solid 1px #cccccc;
      padding: 0 pr(28px);
      color: #999999;
      option{
        color: #333333;
        &:first-child{
          color: #999999;
        }
      }
    }
  }
  .hint{
    font-size: pr(20px);
    line-height: pr(20px);
    color: #fff;
    span{
     color: $txt-color;
    }
  }
}

.footer{
  width: 100%;
  height: pr(100px);
  background-color: #333333;

  color: rgba(250, 250, 250, 0.4);
  text-align: center;
  font-size: pr(20px);
  line-height: pr(20px);
  padding-top: pr(20px);
  p{
    margin-bottom: pr(10px);
  }
}

.footer-bar{
  width: pr(750px);
  height: pr(96px);
  background: url('../images/footer-bar.png') no-repeat #fff;
  background-size: 100% 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  z-index: 100;
  a{
    width: 33.33%;
    height: 100%;
    cursor: pointer;
  }
}

/* 遮罩层 */
.mask{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 110;
  display: none;
}

/* 800弹窗 */
.invite-popup{
  width: pr(660px);
  height: pr(960px);
  background: url("../images/invite-popup.png") no-repeat;
  background-size: 100% 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 120;
  padding-top: pr(40px);
  display: none;
  .title{
    text-align: center;
    font-size: pr(36px);
    line-height: pr(48px);
    color: #ffffff;
    margin-bottom: pr(30px);
  }
  .invite-data{
    width: 100%;
    padding: pr(30px);
    ul {
      li {
        @extend %clearfix;
        padding-top: pr(20px);
        .icon{
          display: block;
          width: pr(20px);
          height: pr(20px);
          background: url("../images/invite-popup-icon.png") no-repeat;
          background-size: 100% 100%;
          margin-right: pr(10px);
          float: left;
        }
        .detail{
          float: left;
          width: pr(570px);
          color: #333333;
          p {
            font-size: pr(28px);
            line-height: pr(28px);
            font-weight: bold;
            margin-bottom: pr(20px);
          }
          span {
            display: block;
            float: left;
            min-width: pr(106px);
            margin-bottom: pr(24px);
            padding-left: pr(31px);
            padding-right: pr(20px);
            cursor: pointer;
            font-size: pr(24px);
            height: pr(24px);
            line-height: pr(24px);
            position: relative;
            &:last-of-type{
              padding-right: 0;
            }
            &:before {
              content: "";
              width: pr(22px);
              height: pr(22px);
              position: absolute;
              left: 0;
              top: 0;
              border-radius: 100%;
              background-color: #fff;
              border: 1px solid #aaa;
              box-sizing: border-box;
              vertical-align: text-top;
            }
            &:after{
              content: "";
              width: pr(14px);
              height: pr(14px);
              border-radius: 100%;
              position: absolute;
              top: pr(4px);
              left: pr(4px);
            }
            &.active{
              &:before {
                border: 1px solid #999999;
              }
              &:after{
                background-color: $bg-color;
              }
            }
          }
        }
      }
    }
    .invite-form {
      @extend %clearfix;
      padding-top: pr(30px);
      input {
        float: left;
        width: pr(410px);
        height: pr(70px);
        line-height: pr(70px);
        border: 1px solid #bbbbbb;
        border-radius: pr(6px);
        font-size: pr(28px);
        outline: none;
        margin-right: pr(10px);
        background-color: #ffffff;
        &.user-tel{
          background: url("https://img.thea.cn/public/platform/thea/201906/hbj/form-popup/images/star.png") no-repeat 5% center;
          text-indent: 1.5em;
        }
      }
      .submit{
        width: pr(180px);
        height: pr(70px);
        background-color: $txt-color;
        border-radius: pr(10px);
        border: none;
        margin-right: 0;
        color: #ffffff;
        cursor: pointer;
        font-size: pr(32px)
      }
    }
  }
  .close{
    display: block;
    width: pr(80px);
    height: pr(80px);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
  }
}

/* 预约试听弹窗 */
.appoint-popup{
  width: pr(560px);
  height: pr(820px);
  background: url("../images/appointment-popup.png") no-repeat;
  background-size: 100% 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 120;
  text-align: center;
  padding-top: pr(30px);
  display: none;
  .title{
    font-size: pr(30px);
    line-height: pr(48px);
    color: #ffffff;
    margin-bottom: pr(20px);
    font-weight: bold;
    strong{
      display: block;
      font-size: pr(36px);
      font-weight: bold;
    }
  }
  .sign-in{
    padding: pr(50px) pr(40px) pr(58px);
    input{
      width: 100%;
      height: pr(70px);
      line-height: pr(70px);
      margin-bottom: pr(24px);
      background-color: #f8f8f8;
      border-radius: pr(6px);
      border: solid 1px #cccccc;
      font-size: pr(28px);
    }
    input[type="submit"]{
      background-color: $txt-color;
      border: solid 1px $txt-color;
      color: #ffffff;
      font-size: pr(32px);
    }
    select{
      width: 100%;
      height: pr(70px);
      line-height: pr(70px);
      margin-bottom: pr(24px);
      border-radius: pr(6px);
      border: solid 1px #cccccc;
      font-size: pr(28px);
      background: url('../images/select-icon.png') no-repeat pr(438px) center #f8f8f8;
      padding: 0 pr(28px);
      color: #999999;
      option{
        color: #333333;
        &:first-child{
          color: #999999;
        }
      }
    }
  }
  .close{
    display: block;
    width: pr(80px);
    height: pr(80px);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
  }
}